
section.menu{
    display: flex;    
    width: 100%;
}

.menu__header{
    display: flex;
}

.menu__imagen{
    height: 1.5rem; 
    width: 1.5rem;  
    margin:  40px 8px 0 100px;
}

.menu__title{
    margin:  44px 0 0;
    width: 8rem;
}

.menu__list{
   display: flex;
   align-items: flex-start;
   margin: 38px 0 0 380px;
}

.menu__list__item{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;

}

.menu__list__item__contacto{
    margin: 10px 50px 10px 10px;
    font-weight: bold;
}


/* Para Tablet */

@media (max-width: 768px){

.menu__imagen{
    margin: 46px 8px 0 50px;
    height: 1.7rem;
    width: 1.7rem;
}

.menu__list{
    margin: 38px 0 0 575px;
}

.menu__list__item{
    display: none;
     
}

.menu__list__item__contacto{
    font-size: 1.7rem;
    margin: 10px 50px 10px 10px;
}

.menu__title{
    width: 12rem;
    font-size: 1.7rem;
}


}

/*mobile*/

@media (max-width: 426px){
    .menu__imagen{
        height: 2.7rem;
        width: 2.7rem;
    }

    .menu__title {
        width: 20rem;
        font-size: 3rem;
    }

    .menu__list {
        margin: 38px 0 0 230px;
    }

    .menu__list__item__contacto {
        font-size: 2.6rem;
    }
}